@media(max-width:991px) {
    .container {
        padding: 0;
    }

    .home-text,
    .home-img {
        width: 100%;
    }

    .home-text {
        text-align: center;

        & .btn {
            margin: 0 7px 15px;
        }
    }

    .home-img {
        order: -1;

        & .img-box {
            max-width: 300px;
        }
    }

    .portfolio-item {
        width: calc(50% - 30px);

        & h3 {
            display: flex;
            justify-content: center;
        }

        & .btn {
            display: flex;
            justify-content: center;
        }
    }

    
}