@media (max-width: 575px) {

  .area {
    background-color: transparent;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .section-title {
    & h2 {
      font-size: 35px;
    }
  }

  .header .nav-inner ul li a {
    font-size: 35px;
  }

  .home-text {
    & .title-parallaxe {
      font-size: 3em;
      gap: 5px;
    }

    & h1 {
      font-size: 30px;
    }

    & h2 {
      font-size: 18px;
    }
  }

  .container-img {
    height: 300px;
    width: 300px;
    order: -1;
  }

  .spin-container {
    width: 250px;
    height: 250px;
  }
  
  
  .bd {
    background-size: 120%;
  }

  .pp-header {
    font-size: 20px;
  }
}
