@charset "UTF-8";
/**
 * Configurer un modèle de boîte décent sur l'élément racine
 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  box-sizing: border-box;
}

/**
 * Faire en sorte que tous les éléments du DOM héritent du box-sizing parent
 * Puisque `*` a une spécificité de 0, il ne remplace pas la valeur `html`
 * faire en sorte que tous les éléments héritent de la valeur root box-sizing
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee);
  background-attachment: fixed;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #18293c;
  line-height: 1.5;
  overflow-x: hidden;
  /* webkit-top-highlight-color: transparent; */
  padding: 35px 15px;
}
body.hide-scrolling {
  overflow-y: hidden;
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: #cddc39;
  z-index: -1;
  opacity: 0.12;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-weight: 600;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

section {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: calc(100vh - 70px);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: none;
}
section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**
 * Style de typographie de base pour copier du texte
 */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Buttons */
button {
  font-family: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.btn {
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  color: #e02f6b;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  background-color: #e02f6b;
  z-index: -1;
  transition: width 0.3s ease;
}
.btn:hover::before {
  width: 100%;
}
.btn:hover {
  color: #fff;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #e02f6b;
}

.main {
  max-width: 1200px;
  margin: auto;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.main.fade-out {
  opacity: 0;
}
.main .row {
  display: flex;
  flex-wrap: wrap;
}
.main .align-items-center {
  align-items: center;
}
.main .hidden {
  display: none !important;
}
.main .sec-padding {
  padding: 80px 0;
}
.main .flex-end {
  justify-content: flex-end;
}

.section-title {
  padding: 0 15px;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.section-title h2 {
  font-size: 40px;
  text-transform: capitalize;
}/*# sourceMappingURL=main.css.map */