// -----------------------------------------------------------------------------
// Ce fichier contient tous les styles liés à l'en-tête du site/de l'application.
// -----------------------------------------------------------------------------

/* header section  */

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px 0 0;

  & .nav-toggler {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: $white-alpha-25;
    border: 1px solid $white-alpha-40;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;

    & span {
      height: 2px;
      width: 24px;
      background-color: white;
      position: relative;
      transition: background-color 0.3s ease;
    }
  }

  & .nav-toggler.hide {
    opacity: 0;
    transition: none;
  }

  & .nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    overflow-y: auto;
    visibility: hidden;
  }

  & .nav-inner {
    min-height: calc(100vh - 70px);
    max-width: 1200px;
    margin: auto;
    background-color: $white-alpha-25;
    border: 1px solid $white-alpha-40;
    backdrop-filter: $backdrop-filter-blur;
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;

    & ul li {
      text-align: center;
    }

    & ul li a {
      font-size: 40px;
      text-transform: capitalize;
      color: white;
      display: block;
      font-weight: 500;
      padding: 8px 15px;
      transition: color 0.3s ease;
      position: relative;
    }

    & ul li a::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      height: 50%;
      width: 0%;
      background-color: $white-alpha-25;
      z-index: -1;
      transition: width 0.5s ease;
    }

    & ul li a:hover::before {
      width: 100%;
    }

    & ul li a:hover {
      color: $main-color;
    }
  }
}

.header.active {
  position: fixed;
  top: 35px;
  padding: 20px 15px;
}

.header.active .container {
  max-width: 1200px;
  margin: auto;
}

.header.active .nav-toggler span {
  background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: all 0.3s ease;
}

.header .nav-toggler span::before {
  left: 0;
  transform: translateY(-8px);
}

.header.active .nav-toggler span::before {
  transform: rotate(45deg);
}

.header .nav-toggler span::after {
  right: 0;
  transform: translateY(8px);
}

.header.active .nav-toggler span::after {
  transform: rotate(-45deg);
}

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after {
  width: 50%;
}

.header.active .nav {
  visibility: visible;
}

.header.active .nav-inner {
  opacity: 1;
}

