/* home section  */

.home-section {
  /* display: flex; */
  padding: 120px 0;
}

.home-section.active {
  display: flex;
}

.home-text,
.home-img {
  width: 50%;
  padding: 15px;
}

.home-text {
  & .title-parallaxe {
    position: relative;
    display: flex;
    top: -80px;
    right: -50px;
    gap: 15px;
    font-size: 5em;
    white-space: nowrap;
    cursor: pointer;
    color: $white-alpha-40;

    & span {
      position: relative;
      filter: blur(5px);
      transition: all 0.5s;
    }
    & span:hover {
      filter: blur(0px);
      transition: 0s;
      color: $main-color;
    }
  }

  & p {
    font-size: 18px;
  }

  & h1 {
    font-size: 50px;
    text-transform: capitalize;
  }

  & h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
  }

  & .btn {
    margin: 0 15px 15px 0;
  }
}

.home-img .img-box {
  max-width: 360px;
  background-color: $white-alpha-25;
  border-radius: 50%;
  border: 8px solid $white-alpha-25;
  margin: auto;

  & img {
    width: 100%;
    border-radius: 50%;
  }
}
