/* home section  */

.home-section {
  /* display: flex; */
  padding: 120px 0;
}

.home-section.active {
  display: flex;
}

.home-text,
.home-img {
  width: 50%;
  padding: 15px;
}

.home-text {
  & .title-parallaxe {
    position: relative;
    display: flex;
    top: -15px;
    right: -50px;
    gap: 15px;
    font-size: 5em;
    white-space: nowrap;
    cursor: pointer;
    color: $white-alpha-40;

    & span {
      position: relative;
      filter: blur(5px);
      transition: all 0.5s;
    }
    & span:hover {
      filter: blur(0px);
      transition: 0s;
      color: $white;
    }
  }

  & p {
    font-size: 18px;
  }

  & h1 {
    font-size: 50px;
    text-transform: capitalize;
  }

  & h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
  }

  & .btn {
    margin: 0 15px 15px 0;
  }
}
// .home-img .img-box {
//   max-width: 360px;
//   background-color: $white-alpha-40;
//   border-radius: 50%;
//   border: 8px solid $white;
//   margin: auto;
//   clip-path: circle(40%);

//   & img {
//     width: 100%;
//     border-radius: 50%;
//     clip-path: circle(40%);
//   }

.container-img {
  height: 400px;
  width: 579px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.spin-container {
  width: 350px;
  height: 350px;
  animation: spinborder 12s ease-in-out infinite alternate;
  position: relative;
  @include spinborder;
}

.shape {
  width: 100%;
  height: 100%;
  border: 1px solid $white-alpha-40;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
  @include morph;
}

.bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background: url(../assets/images/Matthieu.png);
  background-size: 150%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spinborder 12s ease-in-out infinite alternate-reverse;
  opacity: 1;
  z-index: 2;
  @include spinborder;
}


