/* Background circles */

.bg-circles {
  position: fixed;
  top: 0;
  height: 100%;
  max-width: 1200px;
  width: calc(100% - 30px);
  left: 50%;
  transform: translateX(-50%);

  & div {
    position: absolute;
    border-radius: 50%;
  }

  & .circle-1 {
    width: 100px;
    height: 100px;
    background-color: $white-alpha-40;
    left: 5%;
    top: 5%;
    opacity: 0.3;
    animation: zoomInOut 8s linear infinite;
  }

  & .circle-2 {
    height: 100px;
    width: 100px;
    background-color: $main-color;
    left: 80%;
    top: 80%;
    opacity: 0.4;
    animation: bounceTop 5s ease-in-out infinite;
  }

  & .circle-3 {
    height: 100px;
    width: 100px;
    background-color: $white;
    top: 20%;
    right: -30px;
    opacity: 0.6;
    animation: sc
  }

  & .circle-4 {
    height: 80px;
    width: 80px;
    background-color: $orange;
    top: 80%;
    left: -35px;
    opacity: 0.6;
    animation: spin 10s linear infinite;
  }
}

@include zoomInOut;

@include bounceTop;
