.color-select {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & .colorToggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white-alpha-25 ;
    width: 50px;
    height: 50px;
    border-radius: 70px;
    border: 1px solid $white-alpha-40;
    cursor: pointer;
    transition: 1.5s;

    &.active {
      transform: rotate(360deg);
    }

    & i {
      position: relative;
      top: 2px;
      color: $white;
      font-size: 2.1em;
    }
  }

  & .menu-color {
    position: absolute;
    width: 30px;
    height: 30px;
    background: $white-alpha-25;
    border-radius: 70px;
    z-index: -1;
    transition: transform 0.3s, width 0.3s, height 0.3s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);

    & ul {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      gap: 5px;

      & li {
        list-style: none;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: 0.25s;
        transition-delay: calc(0s + var(--i));
      }

      & li:hover a {
        color: red;
      }

      & li a {
            display: block;
            font-size: 1.5em;
            text-decoration: none;
            color: $white;
        
      }
    }

  }

  & .colorToggle.active ~ .menu-color {
      width: 150px;
      height: 40px;
      background: $white-alpha-25;
      border: 1px solid $white-alpha-40;
      z-index: 1;
      transform: translateY(55px);
      transition-delay: 0s, 0.5s, 0.5s;
  }

  & .colorToggle.active ~ .menu-color ul li {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: calc(0.75s + var(--i));
}



}
