body {
  &.dark {
    @include background-main-dark;
    @include fontPoppins300(16px, $white);
  }
}

.btn.dark {
  @include fontPoppins500(16px, $white);
  @include button-neumorphisme;
  border: none;
}

.btn:hover.dark {
  border: none;
  @include button-neumorphisme-hover;
}

section {
  &.dark {
    @include background-neumorphisme;
    border: none;
    backdrop-filter: none;
  }
}


.header {

  & .nav-inner.dark {
    @include background-neumorphisme;
    backdrop-filter: none;
  }

  & .nav-inner ul li.dark {
    margin: 20px;
  }

  & .nav-inner ul li a.dark {
    @include button-neumorphisme;
  }

  & .nav-inner ul li a:hover.dark {
    @include button-neumorphisme-hover;
    color: $secondary-color-dark;
  }

  & .nav-toggler.dark {
    @include background-neumorphisme-toggle;
    border: none;
  }
}

img.dark {
    @include button-neumorphisme;
  }

.about-img .img-box.dark {
  @include button-neumorphisme;
  border: none;
}

.about-text.dark .skill-item {
  @include button-neumorphisme;
  background-color: none;
  border: none;
}

.about-text.dark .timeline .date {
  color: $secondary-color-dark;
}

.about-text.dark .timeline::before {
  background-color: $secondary-color-dark;
}

.about-text.dark .timeline-item::before {
  background-color: $white;
}

.about-tabs.dark .tab-item {
  color: $white;
}

.about-tabs.dark .tab-item::before {
  color: $secondary-color-dark;
}

.about-tabs.dark .tab-item.active {
  color: $secondary-color-dark;
}

.about-tabs.dark .tab-item.active::before {
  color: $secondary-color-dark;
}



.portfolio-item-thumbnail.dark {
@include button-neumorphisme;
border-radius: 10px;
border: none;
}

.pp-content.dark {
  @include background-neumorphisme;
  backdrop-filter: none;
}

.pp-content.dark .btn {
  @include button-neumorphisme;
  border: none;
}

.pp-content.dark .btn:hover {
  @include button-neumorphisme-hover;
}

.contact-form.dark .input-control {
  @include button-neumorphisme-hover;
  border-radius: 25px;
  border: none;
  color: $white;
}

.contact-form.dark .input-control::placeholder {
  color: $white;
}

.contact-info.dark .social-links a {
  @include button-neumorphisme;
  border: none;
  color: $white;

  &:hover {
    @include button-neumorphisme-hover;
  }
}






