#toggle {
  position: relative;
  display: block;
  background: $white-alpha-40;
  border-radius: 160px;
  width: 100px;
  height: 50px;
  cursor: pointer;
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.355),
    inset 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 -2px 2px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  z-index: 999;
  border: 1px solid $white-alpha-40;
  transition: opacity 0.5s ease-in-out;

  &.hide {
    opacity: 0;
    transition: none;
  }

  &.dark {
    @include button-neumorphisme-hover;
    border: none;
    transition: all 1.5s;
  }

  & .indicator {
    position: absolute;
    left: 0;
    top: -1px;
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, $white-alpha-25, $white-alpha-40);
    border-radius: 50%;
    border: 1px solid $white-alpha-40;
    transform: scale(0.9);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25),
      inset 0 4px 4px rgba(99, 99, 99, 0.2),
      inset 0 -4px 4px rgba(99, 99, 99, 0.2);
    transition: 0.3s ease;
  }

  &.dark .indicator {
    left: 50px;
  }
}
