// -----------------------------------------------------------------------------
// Ce fichier contient tous les mixins Sass.
// -----------------------------------------------------------------------------

@mixin fadeIn {
    @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
}

@mixin fadeOut {
    @keyframes fadeOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
}

@mixin zoomInOut {
  @keyframes zoomInOut {
    0%,
    100% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
  }
}

@mixin bounceTop {
  @keyframes bounceTop {
    0%, 100% {
      transform: translateY(-50%);
    }
    50% {
      transform: translateY(0);
    }
  }
}

@mixin spin {
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin morph {
@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  100% {border-radius: 40% 60%;} 
}
}

@mixin spinborder {
  @keyframes spinborder {
    to {
      transform: rotate(1turn);
    }
  }
}



