//
// Fonts "Poppins"
//

@mixin fontPoppins200(
  $size,
  $color,
  $weight: 200,
  $style: normal,
  $family: "Poppins"
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

@mixin fontPoppins300(
  $size,
  $color,
  $weight: 300,
  $style: normal,
  $family: "Poppins"
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

@mixin fontPoppins400(
  $size,
  $color,
  $weight: 400,
  $style: normal,
  $family: "Poppins"
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

@mixin fontPoppins500(
  $size,
  $color,
  $weight: 500,
  $style: normal,
  $family: "Poppins"
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

@mixin fontPoppins600(
  $size,
  $color,
  $weight: 600,
  $style: normal,
  $family: "Poppins"
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

@mixin fontPoppins700(
  $size,
  $color,
  $weight: 700,
  $style: normal,
  $family: "Poppins"
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

@mixin fontPoppins800(
  $size,
  $color,
  $weight: 800,
  $style: normal,
  $family: "Poppins"
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}

@mixin fontPoppins900(
  $size,
  $color,
  $weight: 900,
  $style: normal,
  $family: "Poppins"
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-style: $style;
  font-family: $family;
}
