//
// NORMAL MODE
//

@mixin background-main {
  background: #f0c27b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #4b1248,
    #f0c27b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom right,
    #4b1248,
    #f0c27b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //   background-image: linear-gradient(to bottom right, $pink-light, $cyan-light);
}

@mixin background-glassmorphing {
  background-color: $white-alpha-25;
  border: 1px solid $white-alpha-40;
}

//
// DARK MODE
//

@mixin background-main-dark {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //   background-image: linear-gradient(to bottom right, $pink-light, $cyan-light);
}

@mixin background-neumorphisme {
  border: none;
  background-color: $background-neumorphisme;
  background: $background-neumorphisme;
  box-shadow: $shadow-neumorphisme;
}

@mixin button-neumorphisme {
  border-radius: 50px;
  background: #404040;
  box-shadow:  8px 8px 16px #363636,
               -8px -8px 16px #4a4a4a;
               transition: all 1s ease;
}

@mixin button-neumorphisme-hover {
  border-radius: 50px;
  background: #404040;
  box-shadow: inset 8px 8px 16px #363636,
              inset -8px -8px 16px #4a4a4a;
              transition: all 1s ease;
}

@mixin background-neumorphisme-toggle {
  background-color: linear-gradient(45deg, #444444, #3a3a3a);
  background: linear-gradient(45deg, #444444, #3a3a3a);
  box-shadow: 5px -5px 16px #1b1b1b, -5px 5px 16px #656565;
}
